/node_modules
/public/hot
/public/storage
/public/assets/app.css
/public/css/app.css
/public/js/app.js
public/js/app.js
public/css/app.css
/public/assets/app.js
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package.lock
/.idea
/storage
/.php-cs-fixer.cache
**/.DS_Store
.phpunit.cache

docker-compose.override.yml
